<section>
  <div class="page-header">
    <div class="pull-right" style="margin-top: 0.5em">
      <a class="btn btn-danger" ng-click="vm.remove()">
          <i class="glyphicon glyphicon-trash"></i> Remove
        </a>
    </div>
    <h1>User <span ng-bind="vm.user.username"></span></h1>
  </div>
  <div class="col-md-12">
    <form name="vm.userForm" ng-submit="vm.update(vm.userForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="text" id="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="Email" required autofocus />
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.user.firstName" placeholder="First Name" required autofocus />
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.user.lastName" placeholder="Last Name" required />
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="roles">Roles</label>
          <div class="controls">
            <select name="roles" id="roles" class="form-control"
              ng-options="role for role in vm.roles"
              ng-model="vm.currentRole"></select>
            <div ng-messages="vm.userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">At least one role is required.</p>
            </div>
          </div>
        </div>
        <!--<div class="form-group" show-errors>
          <label class="control-label" for="exDate">Created Date</label>
          <div class="controls">
            <input type="text" id="createdDate" name="createdDate" class="form-control" ng-model="vm.user.created.split('T')[0]" readonly />
          </div>
        </div>-->
        <div class="form-group" show-errors>
          <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="vm.user.password" placeholder="Leave blank to keep password" password-validator>
          <div ng-messages="vm.userForm.password.$error" role="alert">
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="vm.userForm.password.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-primary">
          <button ui-sref="admin.users" class="btn btn-default">Cancel</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
